@font-face {
    font-family: 'Righteous';
    src: url('righteous-regular-webfont.woff2') format('woff2'),
         url('righteous-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    color: whitesmoke;
}
body{
    font-family: righteous;
    background-color: #000000;
    /*good colour to remember: #4D839B*/
}
header{
    padding: 0 0 0 2vw;
    width: 100vw;
    height: 5.5vw;
    margin-top: -6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000014;
    position: fixed;
    z-index: 55;
}
nav{
    width: 27.5vw;
    font-size: 1.5vw;
    display: flex;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
h1{
    color: whitesmoke;
    font-size: 2.2vw;
}
nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5.5vw;
    transition: .75s;
}
nav div:hover{
    background-color: rgba(150,150,150,.125);
}
nav div a{
    text-decoration: none;
    color: whitesmoke;

}
nav div a img{
    text-decoration: none;
    color: whitesmoke;
    width: 1.6vw;

}
main{
    margin-top: 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main .top-image{
    background-image: url(img/3515433-endgamedek.jpg);
    background-size: cover;
    width: 99vw;
    height: 40vw;
    overflow: hidden;
    border-radius: 1.5vw;
    margin-bottom: .5vw;
}
.black-square{
    background-color: rgba(10,10,10,.5);
    width: 27vw;
    height: 40vw;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); 
}
.black-square .info{
    width: 22vw;
    margin-left:3vw;
    height: 25vw;
    padding-top:2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.black-square .info h4{
    font-size: 4vw;
    color:whitesmoke;
}
.black-square .info p{
    font-size: 1.3vw;
    color:whitesmoke;
}
.black-square .buttons{
    width: 22vw;
    margin-top: 2vw;
    margin-left:3vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.black-square .buttons button{
    width: 10vw;
    height: 3vw;
    font-size: 1.6vw;
    border-radius: 2vw;
    color: black;
    background-color: whitesmoke;
    transition: .5s;
}
.black-square .buttons button:hover{
    transition: .5s;
    transform: scale(1.1);   
}
section{
    padding: .5vw;
    width: 100vw;
    height: 15.5vw;
    width: 100vw;
}
section h5{
    font-size: 2vw;
}
.movie-cards-container{
    display: flex;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-card{
    margin-top: .5vw;
    width: 19vw;
    height: 11vw;
    background-image: url(img/3515433-endgamedek.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: .5s;
    overflow: hidden;
}
.movie-card:hover{
    transition: .5s;
    transform: scale(1.07);   
}
.shade-effect h6{
    color: whitesmoke;
    font-size: 2vw;
}
.shade-effect p{
    color: rgb(155, 155, 155);
    font-size: 1.2vw;
}
.movie-card div{
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: rgba(10,10,10,.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    font-size: 1.5vw;
}
.coming-soon .movie-cards-container .movie-card:nth-child(1){
    background-image: url(img/EchoOfTMRW.png);
    background-size: 125%;
    background-position: -20px 0;
}
.coming-soon .movie-cards-container .movie-card:nth-child(2){
    background-image: url(img/Moscow.png);
    background-position: 0 0;
}
.coming-soon .movie-cards-container .movie-card:nth-child(3){
    background-image: url(img/Burn!Cover.png);
}
.coming-soon .movie-cards-container .movie-card:nth-child(4){
    background-image: url(img/all\ hail\ macbethCover.png);
    background-size: 105%;
    background-position: -10px 0;
}
.coming-soon .movie-cards-container .movie-card:nth-child(5){
    background-image: url(img/DestinationCover.png);
    background-position: 0 0;
}
.Favourites .movie-cards-container .movie-card:nth-child(1){
    background-image: url(img/jaws.webp);
}
.Favourites .movie-cards-container .movie-card:nth-child(2){
    background-image: url(img/interstellar.webp);
}
.Favourites .movie-cards-container .movie-card:nth-child(3){
    background-image: url(img/avatar.webp);
}
.Favourites .movie-cards-container .movie-card:nth-child(4){
    background-image: url(img/2001.jpeg);
}
.Favourites .movie-cards-container .movie-card:nth-child(5){
    background-image: url(img/the-dark-knight.jpg);
}
.Newest .movie-cards-container .movie-card:nth-child(1){
    background-image: url(img/Avatar2.jpeg);
}
.Newest .movie-cards-container .movie-card:nth-child(2){
    background-image: url(img/Wonka.webp);
}
.Newest .movie-cards-container .movie-card:nth-child(3){
    background-image: url(img/FNAF.jpg);
}
.Newest .movie-cards-container .movie-card:nth-child(4){
    background-image: url(img/oppenheimer.jpeg);
}
.Newest .movie-cards-container .movie-card:nth-child(5){
    background-image: url(img/SuperBrosMovie.webp);
}
.Kids .movie-cards-container .movie-card:nth-child(1){
    background-image: url(img/TMNT.avif);
}
.Kids .movie-cards-container .movie-card:nth-child(2){
    background-image: url(img/LegoMovie.jpg);
}
.Kids .movie-cards-container .movie-card:nth-child(3){
    background-image: url(img/SuperBrosMovie.webp);
}
.Kids .movie-cards-container .movie-card:nth-child(4){
    background-image: url(img/Minions2.jpg);
}
.Kids .movie-cards-container .movie-card:nth-child(5){
    background-image: url(img/Rio.jpg);
}


